<h1>Dashboard</h1>
    <% @orders.each do |order| %>
      <tr>
        <td><%= link_to order.id, order_path(order) %></td>
        <td><%= order.email %></td>
        <td><%= order.shopify_order_id %></td>
        <td><%= order.first_name %></td>
        <td><%= order.order_date %></td>
 
      </tr>
    <% end %>
